<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>nolifetv</name>
	<displayName><![CDATA[Nolife TV : NoAir Webservice]]></displayName>
	<version><![CDATA[1.1]]></version>
	<description><![CDATA[Now on Nolife]]></description>
	<author><![CDATA[Quadra Informatique]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>